Certificates with extended subject fields are not self-issued as per RFC 5280

Or at least I think so. The issuer name does not match that of the subject. Using [Node.js `x509.checkIssued`](https://nodejs.org/api/crypto.html#crypto_x509_checkissued_othercert) returns `false` while for certs with just a `CN` it returns true.

Example cert:

```
-----BEGIN CERTIFICATE-----
MIIC7DCCAdQCAQAwDQYJKoZIhvcNAQELBQAwDTELMAkGA1UEAwwCQ04wHhcNMjEw
NzIwMjE0NjEyWhcNMjExMjMxMjMwMDAwWjBrMQswCQYDVQQDDAJDTjEUMBIGCSqG
SIb3DQEJARYFRW1haWwxFzAVBgoJkiaJk/IsZAEBDAdVc2VyIElEMRYwFAYKCZIm
iZPyLGQBGRYGRG9tYWluMRUwEwYDVQQKDAxPcmdhbml6YXRpb24wggEiMA0GCSqG
SIb3DQEBAQUAA4IBDwAwggEKAoIBAQC4oOw4Tui+F7epD5YlSSMxK3ra+fa22gJT
ydh/Em9GDV5W6y9HaK8VH8yCvP/KF9XfLShUYQ8/d7ymPTI/AF4yBQzPQZ6cSQhl
iG7fk4ANDPnAGr1duAbKgARIlWVK5wKT0WVgndrCbulyZ7T5HZmhWUOrcKnJRsLl
+Wv6ocQ/pTk903k+KVZfMqeTp3wPlkeHQDsNDKNd1WX0cccP76jYoHZ0T/D51kgy
Jf8rYETehT7xDWDhwF7Wgu/dMkbeDaEmfuGuaC5djieEgHTlAzc1sx//Qi8K6/gg
YmH9WB/E/2uNagBIKfBuOa+0yYiWJZ0yqprXa4zPYuOVpgJWaBq1AgMBAAEwDQYJ
KoZIhvcNAQELBQADggEBAFGlD4kvNYIc+2gfmnm1ohJJgV4ebZwMC4qH8UecaMni
PS8fLa43wx9SyMSend6IWtNxrqH7eRGDMbxrCyaeKHbd7NYSlHlHsr/PhxnV7Bwk
s+oGfxPsxEU+yrDk/HoznCo3sVlAr3pcSCpDPP+rD7lDsX+ywRvoHyQXatJbFsfc
V/oyQyTxjL2VSkSuPirrI049ol/kYL6QZHC6hwv0HSCnH7flFUiJaV5zEfm9lutu
o2WQS5z+W2yggQu89LOOO7CHy82Nz8X0WcFYkTyjHg/KtauIbcn49qx48/Qy2/4B
qRbyrv/oWPQVUnDQJJ4q+mwxX7c87ecJlybuGhjW/Z8=
-----END CERTIFICATE-----
```

Which shows on `openssl x509 -in cert.pem -text -noout` as:

```
Certificate:
    Data:
        Version: 1 (0x0)
        Serial Number: 0 (0x0)
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN = CN
        Validity
            Not Before: Jul 20 21:46:12 2021 GMT
            Not After : Dec 31 23:00:00 2021 GMT
        Subject: CN = CN, emailAddress = Email, UID = User ID, DC = Domain, O = Organization
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                RSA Public-Key: (2048 bit)
                Modulus:
                    00:b8:a0:ec:38:4e:e8:be:17:b7:a9:0f:96:25:49:
                    23:31:2b:7a:da:f9:f6:b6:da:02:53:c9:d8:7f:12:
                    6f:46:0d:5e:56:eb:2f:47:68:af:15:1f:cc:82:bc:
                    ff:ca:17:d5:df:2d:28:54:61:0f:3f:77:bc:a6:3d:
                    32:3f:00:5e:32:05:0c:cf:41:9e:9c:49:08:65:88:
                    6e:df:93:80:0d:0c:f9:c0:1a:bd:5d:b8:06:ca:80:
                    04:48:95:65:4a:e7:02:93:d1:65:60:9d:da:c2:6e:
                    e9:72:67:b4:f9:1d:99:a1:59:43:ab:70:a9:c9:46:
                    c2:e5:f9:6b:fa:a1:c4:3f:a5:39:3d:d3:79:3e:29:
                    56:5f:32:a7:93:a7:7c:0f:96:47:87:40:3b:0d:0c:
                    a3:5d:d5:65:f4:71:c7:0f:ef:a8:d8:a0:76:74:4f:
                    f0:f9:d6:48:32:25:ff:2b:60:44:de:85:3e:f1:0d:
                    60:e1:c0:5e:d6:82:ef:dd:32:46:de:0d:a1:26:7e:
                    e1:ae:68:2e:5d:8e:27:84:80:74:e5:03:37:35:b3:
                    1f:ff:42:2f:0a:eb:f8:20:62:61:fd:58:1f:c4:ff:
                    6b:8d:6a:00:48:29:f0:6e:39:af:b4:c9:88:96:25:
                    9d:32:aa:9a:d7:6b:8c:cf:62:e3:95:a6:02:56:68:
                    1a:b5
                Exponent: 65537 (0x10001)
    Signature Algorithm: sha256WithRSAEncryption
         51:a5:0f:89:2f:35:82:1c:fb:68:1f:9a:79:b5:a2:12:49:81:
         5e:1e:6d:9c:0c:0b:8a:87:f1:47:9c:68:c9:e2:3d:2f:1f:2d:
         ae:37:c3:1f:52:c8:c4:9e:9d:de:88:5a:d3:71:ae:a1:fb:79:
         11:83:31:bc:6b:0b:26:9e:28:76:dd:ec:d6:12:94:79:47:b2:
         bf:cf:87:19:d5:ec:1c:24:b3:ea:06:7f:13:ec:c4:45:3e:ca:
         b0:e4:fc:7a:33:9c:2a:37:b1:59:40:af:7a:5c:48:2a:43:3c:
         ff:ab:0f:b9:43:b1:7f:b2:c1:1b:e8:1f:24:17:6a:d2:5b:16:
         c7:dc:57:fa:32:43:24:f1:8c:bd:95:4a:44:ae:3e:2a:eb:23:
         4e:3d:a2:5f:e4:60:be:90:64:70:ba:87:0b:f4:1d:20:a7:1f:
         b7:e5:15:48:89:69:5e:73:11:f9:bd:96:eb:6e:a3:65:90:4b:
         9c:fe:5b:6c:a0:81:0b:bc:f4:b3:8e:3b:b0:87:cb:cd:8d:cf:
         c5:f4:59:c1:58:91:3c:a3:1e:0f:ca:b5:ab:88:6d:c9:f8:f6:
         ac:78:f3:f4:32:db:fe:01:a9:16:f2:ae:ff:e8:58:f4:15:52:
         70:d0:24:9e:2a:fa:6c:31:5f:b7:3c:ed:e7:09:97:26:ee:1a:
         18:d6:fd:9f
```

Notice the `Issuer` and `Subject` do not match.

The extra fields specified in the certificate creation dialog indeed are only applied to the Subject of the certificate. https://github.com/skyjake/lagrange/blob/9e4ccb3d0ade34fdbd57fc2575b02dd18de1c262/src/gmcerts.c#L589

Could you elaborate on why are you using this `x509.checkIssued()` method, though? Since there is no Certificate Authority vouching for the contained information, a self-signed certificate's only true value is that it has a valid public/private key pair and can therefore be used for encryption. In other words, there isn't much point in trying to validate any of the X.509 fields.

In my server I have two code paths, one for self-signed certificates and another for a small subset of custom CAs. I reject certs if the signer is not on my CA list. I cannot just accept non-self-signed certs with unknown CAs as if they were self-signed because my trusted roots list will change and I need that to be a cert rejection. 

Just to clarify: I'm using `cert.checkIssued(cert)`, i.e. checking if it was issued by itself, i.e. if it's properly self-signed.

EDIT: also, the cert is technically not valid as it is right now, since, even if it is signed by its own public key, we cannot automatically trace the trust chain back to itself.

E.g. adding the self-signed cert to the trusted roots will still make it invalid, whereas a self-signed cert would validate. 

I'll make it so that the issuer matches the subject in the generated certificates. It's a pretty simple change.

>  the cert is technically not valid as it is right now, since, even if it is signed by its own public key, we cannot automatically trace the trust chain back to itself.

Well, there is no trust to be traced in self-signed certificates, as the contents of the fields can be anything...

I was wondering about what exactly do the specs say about this, and RFC 5280 (section 3.2) says:

> Self-issued certificates are CA certificates in which the issuer and subject are the same entity.  [...] Self-signed certificates are self-issued certificates where the digital signature may be verified by the public key bound into the certificate.

So yes, by this definition a self-signed X.509 certificate should also be self-issued. Of course, for Gemini, the meaning of the X.509 fields is undefined, but it is better to follow common conventions/standards on this for compatibility with SSL/TLS libraries.

Glad you found the relevant RFC text! Thanks.